src/
*.tsx
*.ts

vite.config.*
rollup.config.*
tsconfig.json
babel.config.js
webpack.config.js

.storybook/
examples/
demo/
public/
node_modules/
tests/
test/
coverage/
scripts/
.*   # .vscode, .eslint*, .prettier* など隠しファイル

README.md
CHANGELOG.md
LICENSE
.yarn/
package-lock.json
pnpm-lock.yaml
yarn.lock

.DS_Store
Thumbs.db
